<% @lists.each do |list| %>
<div class="d-flex">
  <p><%= list.id %> <%= list.name %></p>
<%= link_to 'More details', list_path(list)%>
</div>
<% end %>


<%= cl_image_tag("cjt6qj5zqefpvmkitwmy", width: 400, height: 300, crop: :fill) %>
